@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Bold.woff2') format('woff2'),
        url('AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Regular.woff2') format('woff2'),
        url('AvenirNextCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProSemibold';
    src: url('FreightSansProSemibold-Regular.woff2') format('woff2'),
        url('FreightSansProSemibold-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

